.container-wrap {
    alignment: center;
    margin-top: 200px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    /*align-content: space-between;*/
}

.input-container {
    display: flex;
    justify-content: space-evenly;
}