.flex_container{
    display: flex;
    justify-content: space-around;
    /*align-content: space-between;*/
}

.input_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}